<a href="https://colab.research.google.com/github/DashShantanu/diabetes-prediction/blob/main/Diabetes_Prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Importing Dependencies

In [1]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn import svm
from sklearn.metrics import accuracy_score

**Data Collection and Analysis**

- PIMA Diabetes Dataset

In [3]:
# loading the dataset to a pandas DataFrame
diabetes_dataset = pd.read_csv('/content/drive/MyDrive/datasets/diabetes.csv')

In [4]:
# first 5 rows
diabetes_dataset.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [5]:
# finding number of rows and columns
diabetes_dataset.shape

(768, 9)

In [6]:
# checking number of diabetic and non-diabetic records
diabetes_dataset['Outcome'].value_counts()

0    500
1    268
Name: Outcome, dtype: int64

0 --> Non-diabetic

1 --> Diabetic

In [8]:
# group by outcome with mean values
diabetes_dataset.groupby('Outcome').mean()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
Outcome,,,,,,,,
0,3.298000,109.980000,68.184000,19.664000,68.792000,30.304200,0.429734,31.190000
1,4.865672,141.257463,70.824627,22.164179,100.335821,35.142537,0.550500,37.067164

In [9]:
# separating features and target
X = diabetes_dataset.drop(columns='Outcome', axis=1)
Y = diabetes_dataset['Outcome']

In [10]:
print(X)

     Pregnancies  Glucose  BloodPressure  SkinThickness  Insulin   BMI  \
0              6      148             72             35        0  33.6
1              1       85             66             29        0  26.6
2              8      183             64              0        0  23.3
3              1       89             66             23       94  28.1
4              0      137             40             35      168  43.1
..           ...      ...            ...            ...      ...   ...
763           10      101             76             48      180  32.9
764            2      122             70             27        0  36.8
765            5      121             72             23      112  26.2
766            1      126             60              0        0  30.1
767            1       93             70             31        0  30.4

     DiabetesPedigreeFunction  Age
0                       0.627   50
1                       0.351   31
2                       0.672   32
3                       0.167   21
4                       2.288   33
..                        ...  ...
763                     0.171   63
764                     0.340   27
765                     0.245   30
766                     0.349   47
767                     0.315   23

[768 rows x 8 columns]

In [11]:
print(Y)

0      1
1      0
2      1
3      0
4      1
      ..
763    0
764    0
765    0
766    1
767    0
Name: Outcome, Length: 768, dtype: int64

**Data Standardization**

In [12]:
scaler = StandardScaler()

In [17]:
scaler.fit(X)
standardized_data = scaler.transform(X)
# or scaler.fit_transform(X)

In [20]:
# storing standardized data into X
X = standardized_data

In [22]:
# Now data is standardized and ready for next step
print(X)
print(Y)

[[ 0.63994726  0.84832379  0.14964075 ...  0.20401277  0.46849198
   1.4259954 ]
 [-0.84488505 -1.12339636 -0.16054575 ... -0.68442195 -0.36506078
  -0.19067191]
 [ 1.23388019  1.94372388 -0.26394125 ... -1.10325546  0.60439732
  -0.10558415]
 ...
 [ 0.3429808   0.00330087  0.14964075 ... -0.73518964 -0.68519336
  -0.27575966]
 [-0.84488505  0.1597866  -0.47073225 ... -0.24020459 -0.37110101
   1.17073215]
 [-0.84488505 -0.8730192   0.04624525 ... -0.20212881 -0.47378505
  -0.87137393]]
0      1
1      0
2      1
3      0
4      1
      ..
763    0
764    0
765    0
766    1
767    0
Name: Outcome, Length: 768, dtype: int64

**Splitting data into Training and Testing data**

In [27]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, stratify=Y, random_state=2)

In [28]:
print(X.shape, X_train.shape, X_test.shape)

(768, 8) (614, 8) (154, 8)

**Training the Model**

In [30]:
# load classifier from svm
classifier = svm.SVC(kernel='linear')

In [35]:
# training the support vector machine classifier
classifier.fit(X_train, Y_train)

# trained model is now stored in classifier

SVC(kernel='linear')

**Model Evaluation**

In [36]:
# predict values for the training data
X_train_prediction = classifier.predict(X_train)

# accuracy for training data
training_data_accuracy = accuracy_score(X_train_prediction, Y_train)

In [38]:
print(f"Accuracy score of the training data: {training_data_accuracy}")

Accuracy score of the training data: 0.7866449511400652

In [39]:
# predict values for the testing data
X_test_prediction = classifier.predict(X_test)

# accuracy for testing data
testing_data_accuracy = accuracy_score(X_test_prediction, Y_test)

In [40]:
print(f"Accuracy score of the testing data: {testing_data_accuracy}")

Accuracy score of the testing data: 0.7727272727272727